
.content-detail{
    /* position: fixed; */
    height: 15vh;
    width: 100%;
    overflow-y: scroll;

}

.content-detail::-webkit-scrollbar{
    width: 0.30rem;
    
}
.content-detail::-webkit-scrollbar-thumb{
    /* background-color: #b40000; */
    border-radius: 20px;
    border: 2px solid #a3a3a3;
}
.content-detail::-webkit-scrollbar-track {
    border-radius: 10px;  
}


.content-products{
  background: #F1F1F1;
}