.navbar{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.styleTop{
    background-color: #142d46ce;
    /* background-image: linear-gradient(90deg, #180277 0%, #bb00bd 100%); */
}

.styleDow{
    background-color: #000000;
}

